.login .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}

.login .left {
  text-align: center;
}

.login img {
  width: 500px;
}

.login img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.login .right p {
  margin: 2rem 0;
}
.login .right h2 {
  color: #adb5bd;
}

@media screen and (max-width: 940px) {
  .login .container {
    grid-template-columns: 1fr;
  }
  .login img {
    width: 300px;
  }
}
